
body {
    overflow-x: hidden;
}

#ket{
    display: block;
    margin-top: 20px;
}

#my_navbar{
    margin-bottom: 0;
}

#my_nav li a {
    background: none;
    color: #3f4244;
}

#my_nav li a:hover{
    color: #00e1ff;
    border-bottom: 1px solid #00e1ff;
}

#landing{
    background: #252726;
    min-height: 400px;
    text-align: center;
}

#we_make{
    margin: 150px auto 0 auto;
    text-align: center;
    
}

#we_make h2 {
    color: white;
    
}
#start_tour{
    border: 1px solid white;
    border-radius: 0px;
    color: white;
}

#start_tour:hover{
    background: white;
    color: black;
}

#service{
    margin-top: 100px;
}

#service div {
    text-align: center;
}

#service div p{
    margin-top: 20px;
}

#service div p:last-child {
    color: #a1a8ad;   
}

#fully_responsibly{
    max-height: 20%;
    background: #f7f7f7;
}

.my_btn{
    margin-top: 30px;
    border: 1px solid #c8cdce;
    border-radius: 0px;
}

.my_btn:hover {
    border: 1px solid #00e1ff;
}

#black_phone{
    margin-top: 5%;
    
}

#white_phone{
    margin: 11% 0 0 -12%;
    
}

#fully{
    margin-top: 7%;
}

#fully h2 {
    font-size: 40px;
}

#my_star_tour_btn{
    border: 1px solid #00e1ff;
    border-radius: 0;
    color: #00e1ff;
}

#my_star_tour_btn:hover {
    background: #00e1ff;
    color: black;
}

#modern {
    text-align: center;
    max-height: 500px;
    background: #252726;
    color: white;
}

#timeline{
    height: 500px;
    text-align: center;
    margin-top: 10%;
}

#timeline h4 {
    color: #22e5ff;
}

#timeline button{
    color: #22e5ff;
    background: none;
	border:0px solid transparent;
}

#timeline button:hover{
     border: 1px solid #22e5ff;
}

#timeline p{
	color: #a1a8ad;
}

#portfolio{
	margin-top: 20%;
	text-align:center;
}

#portfolio p{
	margin-top:30px;
}

#portfolio button {
    background: none;
	border:0px solid transparent;
	border-radius:0px;
	margin-top: 5%;
}

#portfolio button:hover{
	border: 2px solid #22e5ff;
}

.photo{
 margin-top: 3%;
}

#video{
    background: #252726;
    min-height: 500px;
    text-align: center;
}

#video h3 {
    margin-top: 100px;
    color: white;
}
#video p {
    margin: 30px 200px 50px 200px;
    color: white;
}

#video > span {
    
    color: white;
} 

#video img[alt=play] {
    margin-top: 30px;
}

#stats {
    background: #131316;
    padding-bottom: 30px;
    
}

.stat{
    margin-top: 5%;
    text-align: center;
    color: white;
    font-size: 25px;
}

.stat span {
    margin-top: 30px;
}

.stat p{
    font-size: 14px;
}

#about{
    
    min-height: 700px;
    text-align: center;
}

#about > div{
    margin-top: 40px;
}

.bottom{
    //margin-left: 10px;
}
.team {
    background-image: url(img/team.png);
    min-height: 200px;
    
}

.team div{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(28,29,30);
    opacity: 0.8;
    display: none;
}

.team:hover div {
    display: block;
    
}

.team div span{
    color: #00e1ff;
    font-size: 20px;
}

.team div p{
    color: white;
}

.team_text {
    color: #9fa7ac;
    text-align: center;
    background: #f7f7f7;
    padding: 35px 0 0 0;
}

.team_social {
    padding: 0;
}

.team_social ul {
   padding: 0;
}


.team_social ul li{
    display: inline-block;
    
}

.team_social ul li a{
    display: block;
    background: url(img/social.png);
    width: 64px;
    height: 58px;
    -webkit-transition: background-position 0.5s linear 0s;
	-o-transition: background-position 0.5s linear 0s;
	-moz-transition: background-position 0.5s linear 0s;
	-ms-transition: background-position 0.5s linear 0s;
}

.team_social ul li+li a{
    background-position: -67px 0;
}

.team_social ul li+li+li a{
    background-position: -135px 0;
}

.team_social ul li+li+li+li a{
    background-position: -203px 0;
}

.team_social ul li:hover a{
    background-position: 0 -58px;
}

.team_social ul li+li:hover a{
    background-position: -67px -58px;
}

.team_social ul li+li+li:hover a{
    background-position: -135px -58px;
}

.team_social ul li+li+li+li:hover a{
    background-position: -203px -58px;
}

#about_ket {
    background: #f7f7f7;
    padding: 90px 0 90px 0;
}

#about_ket div:nth-child(2) {
    border: 2px solid #c8cdce;
    padding: 10px 20px;
    
}

#about_ket > div > p {
    color: #929ba0;
}

#about_ket > div > h3 {
    color: #3f4244;
} 

#quote {
    padding-bottom: 100px;
    background: #252726;
    text-align: center;
}
#quote img[alt=quote] {
    margin-top: 95px;
}

#quote h4 {
    padding-top: 15px;
    color: white;
    font-size: 20px;
}

#quote p {
    color: #d3d4d4;
    margin: 20px 0 50px 0;
}

#quote img[alt=left]{
    padding-right: 15px;
}

#quote img[alt=right]{
    padding-left: 15px;
}

#news {
   text-align: center;
}

#news > p {
    margin: 20px 150px 80px 150px
}

#news h2 {
    margin-top: 80px;
}

.news_notes > div > span {
    font-size: 67px;
    color: #00e1ff;
}

.news_notes div p {
    color: #a1a8ad;
}

.news_text {
    margin-top: 35px;
    text-align: left;
    border-bottom: 2px solid #edf2f6;
}

.news_text p {
    margin-bottom: 80px;
}

.news_text .btn {
    color: #00e1ff;
    position: absolute;
    right: 0;
    bottom: 10px;  
}

.news_text .btn:hover {
    border: 1px solid #00e1ff;
    color: black; 
    border-radius: 0;
}

#modern_design {
    background: #252726;
    position: relative;
}

#modern_design div:nth-child(1) {
    margin: 100px 0 0 200px;
}

#modern_design div img[alt=monitors] {
    display: inline; 
}

#modern_design div:nth-child(2){
    top: 150px;
    left: 700px;
    right: 50px;
    color: white;
    position: absolute;
}

#comments {
    text-align: center;
    margin: 80px 0;
}

#comments > p {
    
    margin: 30px 150px 50px 150px;
}

.comment {
    //margin-left: 30px;
    margin-right: 40px;
    border: 1px solid #c8cdce;
    padding: 10px;
}

.comment p {
    color: #c8cdce;
    margin-top: 30px;
}

.comment > span {
    color: #00e1ff;
}

#subs {
    background: #252726;
    text-align: center;
}

#subs p {
    margin-top: 90px;
    color: white;
    font-size: 20px;
}

#subs div {
    color: white;
    border: 1px solid #00e1ff;
    border-radius: 0;
    margin-bottom: 90px;
}

#subs .btn:hover {
    background: #00e1ff;
}

#contact {
    text-align: center;
    color: white;
    background: #131316;
    padding-bottom:  50px;
}

#contact h3 {
    margin-top: 90px;
    font-size: 30px;
}

#contact p {
    
    margin: 20px 150px 100px 150px;
}

#name {
    background: #131316;
    border: none;
    color: white;
    font-size: 25px;
    box-shadow: none;
}

#email {
    background: #131316;
    border: none;
    color: white;
    font-size: 25px;
    box-shadow: none;
}

#text_messege {
    background: #131316;
    border: none;
    color: white;
    font-size: 25px;
    margin-top: 5%;
    box-shadow: none;
}


#btn_send {
    background: #131316;
    border: 1px solid #00e1ff;
    border-radius: 0;
    font-size: 20px;
    margin-top: 50px;
}

#btn_send:hover {
    background: #00e1ff;
}

footer {
    background: #131316;
    padding: 50px 0;
    text-align: center;
    font-size: 20px;
    color: white;
}

footer > span {
    color: ##00e1ff;
    
}














